.logo {
    background-image: url('../../../public/logo_classifyai.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.login__logo{
    width: 270px;
    height:60px;
    margin-bottom: 70px;
}

//TODO: when doing the sidebar
// .sidebar__logo{

// }