@import "../../styles/variables.scss";

.card__chart {
    background-color: white;
    border-radius: $radius;
    padding: 1.3rem;
    width: fit-content;
    height: 100%;

    &--title {
        font-size: $base__fontSize--large;
    }

    &--subtitle {
        font-size: $base__fontSize--xsmall;
        color: $color__primary--gray;
        margin-bottom: 10px;
        margin-top: 7px;
    }
}