@import "../../styles/variables.scss";

.tab {
    padding-bottom: 0.6rem;
    font-size: 20px;
    color: $color__primary--gray;
    border-bottom: 5px solid transparent;
    background-color: transparent;

    &:hover {
        border-bottom: 5px solid $color__primary--red;
        color: $color__primary--red;
    }

    &:focus {
        border-bottom: 5px solid $color__primary--red;
        color: $color__primary--red;
    }
}


.tab__labels {
    list-style-type: none;
    @include center;
    gap: 60px;
    margin-bottom: 2rem;
}

.tab1__container {
    display: flex;

    &--left {
        flex: 1;
    }

    &--right {
        padding: 0 1rem;
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.tab1__container--right-top {
    display: flex;
    gap: 20px;

    .smallCards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.tab1__container--right-bottom {
    max-height: 350px;
}