@import "../../styles/variables.scss";

.tab {
    padding-bottom: 0.6rem;
    font-size: 20px;
    color: $color__primary--gray;
    border-bottom: 5px solid transparent;
    // !important is added in order to override the default style of the react-tab component
    background-color: transparent !important;

    &:hover {
        border: none;
        border-bottom: 5px solid $color__primary--red !important;
        color: $color__primary--red !important;
    }

    &:focus {
        border-bottom: 5px solid $color__primary--red !important;
        color: $color__primary--red !important;
    }
}

.tab__labels {
    list-style-type: none;
    @include center;
    gap: 60px;
    margin-bottom: 2rem;
}

.tab1__container {
    // !important is added in order to override the default style of the react-tab component
    display: flex !important;

    &--left {
        flex: 1;
    }

    &--right {
        padding: 0 1rem;
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.tab1__container--right-top {
    display: flex;
    gap: 20px;

    .smallCards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.tab1__container--right-bottom {
    max-height: 350px;
}

.react-tabs__tab-panel{
    display: block !important;
}