@import "../../styles/variables.scss";

.sidebar {
    background-color: $color__primary--blue-dark;
    display: flex;
    flex-direction: column;
    padding: 18px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 238px;

    &__top {
        height: 50px;
    }

    &__role {
        color: $sidebar__labels--color;
        font-size: $base__fontSize--medium;
        @include center;

    }

    &__username {
        font-size: $base__fontSize--xsmall;
        color: $color__primary--red;
        margin-top: 5px;
        @include center;
    }

    &__links {
        height: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    &__logout {
        margin-bottom: 2rem;
    }

}