@import "../../styles/variables.scss";

.sidebar {
    background-color: $color__primary--blue-dark;
    flex: 1;
    padding: 18px;
    height: 100vh;
    position: relative;

    &__top {
        height: 50px;
    }

    &__role {
        color: $sidebar__labels--color;
        font-size: $base__fontSize--medium;
        @include center;

    }

    &__username {
        font-size: $base__fontSize--xsmall;
        color: $color__primary--red;
        margin-top: 5px;
        @include center;
    }

    &__links{
        margin-top: 50px;
    }

    &__logout{
        position: absolute;
        bottom: 0;
        margin-bottom: 3rem;
        width:85%;
    }

}