// Descriptive Colors
$color__primary--red: #E24C3F;
$color__primary--gray: #949494;
$color__primary--blue-dark: #28243D;

// Functional Colors
$page--background-light: #F4F5FA;
$sidebar__labels--color:#BCC6E3;
$footer--background: rgba(34, 44, 60, 0.58);
$footer--color: #F4F5FA;
$navbar--background: #D2665D;

//Font Sizes
$base__fontSize--small: 14px;
$base__fontSize--xsmall: 12px;
$base__fontSize--xxsmall: 10px;

$base__fontSize--medium: 16px;
$base__fontSize--xmedium: 18px;
$base__fontSize--xxmedium: 22px;

$base__fontSize--large: 24px;
$base__fontSize--xlarge: 26px;
$base__fontSize--xxlarge: 48px;

// Border Radius
$radius: 10px;