// Descriptive Colors
$color__primary--red: #E24C3F;
$color__primary--gray: #949494;
$color__primary--blue-dark: #28243D;

// Functional Colors
$page--background-light: #F4F5FA;
$sidebar__labels--color:#BCC6E3;
$footer--background: rgba(34, 44, 60, 0.58);
$footer--color: #F4F5FA;
$navbar--background: #D2665D;

// Border Radius
$radius: 10px;